<form action="http://localhost:3009/edit-row" method="GET">

	<label>Exercise Name</label>
	<input value="{{this.name}}">

	<label>Exercise Date</label>
	<input value="{{this.date}}">

	<label>Exercise Reps</label>
	<input value="{{this.reps}}">

	<label>Exercise Weight</label>
	<input value="{{this.weight}}">

	<label>Exercise Lbs</label>
	<input value="{{this.lbs}}">

	<label>Exercise ID</label>
	<input value="{{this.id}}">

	<input type="submit" value="Submit"/>
</form>